<app-titulo [titulo]="'Detalhes Associado'" [iconClass]="'fa fa-address-card'"></app-titulo>

<div [ngClass]="{'col-md-12 pr-0': modoEditar, 'col-md-12': !modoEditar}">
  <div class="card rounded shadow-sm">
    <tabset>
      <tab class="border border-top-0 p-3">
        <ng-template tabHeading>
          <i class="fa fa-address-card mr-2"></i><span>Associado</span>
        </ng-template>
        <form [formGroup]="form">

          <div class="p-3">
            <div class="form-row">
              <div class="form-group col-md-5">
                <label>Nome</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.nome)" formControlName="nome"
                  placeholder="nome" [(ngModel)]="associado.nome">
                <div *ngIf="f.nome.errors?.required && f.nome.touched" class="invalid-feedback">
                  Nome é obrigatório.
                </div>
                <div *ngIf="f.nome.errors?.nome && f.nome.touched" class="invalid-feedback">
                  Deve ser um endereço de Nome válido
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>Cpf</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.cpf)" formControlName="cpf"
                  placeholder="cpf" [(ngModel)]="associado.cpf">
                <div *ngIf="f.cpf.errors?.required && f.cpf.touched" class="invalid-feedback">
                  Cpf é obrigatório.
                </div>
                <div *ngIf="f.cpf.errors?.cpf && f.cpf.touched" class="invalid-feedback">
                  Deve ser um endereço de Cpf válido
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Sexo</label>
                <select formControlName="sexo" class="form-control"
                  [ngClass]="{ 'is-invalid': f.sexo.errors && f.sexo.touched }">
                  <option value="NaoInformado">Não Informado</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label>Data Nascimento</label>
                <input type="datetime" class="form-control" [ngClass]="cssValidator(f.dataNascimento)"
                  value="{{associado.dataNascimento | DateFormatPipe}}" bsDatepicker [bsConfig]="bsConfig"
                  formControlName="dataNascimento" placeholder="" [(ngModel)]="associado.dataNascimento">
                <div *ngIf="f.dataNascimento.errors?.required && f.dataNascimento.touched" class="invalid-feedback">
                  Data e Hora é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Celular</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.celular)" formControlName="celular"
                  placeholder="(000) 90000-0000" [(ngModel)]="associado.celular">
                <div *ngIf="f.celular.errors?.required && f.celular.touched" class="invalid-feedback">
                  Celular é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>E-mail</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.email)" formControlName="email"
                  placeholder="e-mail" [(ngModel)]="associado.email">
                <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
                  e-mail é obrigatório.
                </div>
                <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
                  Deve ser um endereço de e-mail válido
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Rua Avenida</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.ruaAvenida)"
                  formControlName="ruaAvenida" placeholder="ruaAvenida" [(ngModel)]="associado.ruaAvenida">
                <div *ngIf="f.ruaAvenida.errors?.required && f.ruaAvenida.touched" class="invalid-feedback">
                  ruaAvenida é obrigatório.
                </div>
                <div *ngIf="f.ruaAvenida.errors?.ruaAvenida && f.ruaAvenida.touched" class="invalid-feedback">
                  Deve ser um endereço de ruaAvenida válido
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>Número</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.numero)" formControlName="numero"
                  placeholder="numero" [(ngModel)]="associado.numero">
                <div *ngIf="f.numero.errors?.required && f.numero.touched" class="invalid-feedback">
                  numero é obrigatório.
                </div>
                <div *ngIf="f.numero.errors?.numero && f.numero.touched" class="invalid-feedback">
                  Deve ser um endereço de numero válido
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>Complemento</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.complemento)"
                  formControlName="complemento" placeholder="complemento" [(ngModel)]="associado.complemento">
                <div *ngIf="f.complemento.errors?.required && f.complemento.touched" class="invalid-feedback">
                  complemento é obrigatório.
                </div>
                <div *ngIf="f.complemento.errors?.complemento && f.complemento.touched" class="invalid-feedback">
                  Deve ser um endereço de complemento válido
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label>Bairro</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.bairro)" formControlName="bairro"
                  placeholder="bairro" [(ngModel)]="associado.bairro">
                <div *ngIf="f.bairro.errors?.required && f.bairro.touched" class="invalid-feedback">
                  bairro é obrigatório.
                </div>
                <div *ngIf="f.bairro.errors?.bairro && f.bairro.touched" class="invalid-feedback">
                  Deve ser um endereço de bairro válido
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>Estado</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.cidadeNome)"
                  formControlName="estadoNome" placeholder="estadoNome" [(ngModel)]="associado.estadoNome">
                <div *ngIf="f.estadoNome.errors?.required && f.estadoNome.touched" class="invalid-feedback">
                  estadoNome é obrigatório.
                </div>
                <div *ngIf="f.estadoNome.errors?.estadoNome && f.estadoNome.touched" class="invalid-feedback">
                  Deve ser um endereço de estadoNome válido
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>Cidade</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.cidadeNome)"
                  formControlName="cidadeNome" placeholder="cidadeNome" [(ngModel)]="associado.cidadeNome">
                <div *ngIf="f.cidadeNome.errors?.required && f.cidadeNome.touched" class="invalid-feedback">
                  cidadeNome é obrigatório.
                </div>
                <div *ngIf="f.cidadeNome.errors?.cidadeNome && f.cidadeNome.touched" class="invalid-feedback">
                  Deve ser um endereço de cidadeNome válido
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <button class="btn btn-outline-secondary mr-auto border" (click)="cancelarAlteracao()">
                Cancelar Alteração
              </button>
              <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAssociado()">
                Salvar Associado
              </button>
            </div>
          </div>
        </form>
      </tab>

      <tab class="border border-top-0 p-3">
        <ng-template tabHeading>
          <i class="fa fa-address-card mr-2"></i><span>Veiculo</span>
        </ng-template>
        <div class="p-3">
          <div class="d-flex border-bottom">
            <h2 class="mr-auto">Veiculos do Associado</h2>
            <h2><i class="fa-solid fa-car"></i></h2>
          </div>
          <div class="form-row p-1">
            <div [formGroup]="form" class="col">
              <div formArrayName="veiculos" *ngFor="let veiculo of veiculos.controls; let i=index">
                <fieldset [formGroupName]="i" class="form-group">
                  <legend class="d-flex justify-content-between capitalize">
                    {{ (veiculos.get(i+'.marcaModelo').value) }}
                    <button (click)="removerVeiculo(template, i)" class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                      tooltip="Excluir Veiculo" [adaptivePosition]="false" [delay]="500" placement="left">
                      <i class="fa fa-window-close my-1"></i>
                      <b class="ml-1 d-none d-sm-block">Excluir</b>
                    </button>
                  </legend>
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label>Placa</label>
                      <input [ngClass]="cssValidator(veiculos.get(i+'.placa'))" type="text" class="form-control"
                        formControlName="placa" placeholder="Placa">
                    </div>
                    <div class="form-group col-md-4">
                      <label>Marca Modelo</label>
                      <input [ngClass]="cssValidator(veiculos.get(i+'.marcaModelo'))" type="text" class="form-control"
                        formControlName="marcaModelo" placeholder="Marca Modelo">
                    </div>
                    <div class="form-group col-md-4">
                      <label>Ano Modelo</label>
                      <input [ngClass]="cssValidator(veiculos.get(i+'.anoModelo'))" type="text" class="form-control"
                        mask="9999" max="2024" formControlName="anoModelo" placeholder="Ano Modelo">
                    </div>
                    <div class="form-group col-md-4">
                      <label>Valor da Fipe (R$)</label>
                      <input [ngClass]="cssValidator(veiculos.get(i+'.valorFipe'))" type="text" class="form-control"
                        formControlName="valorFipe" placeholder="Valor da Fipe (R$)">
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <button (click)="adicionarVeiculo()" class="d-flex btn btn-outline-primary">
            <i class="fa fa-plus-circle my-1"></i>
            <b class="ml-1">Veiculo</b>
          </button>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border">
              Cancelar Alteração
            </button>
            <button [disabled]="!form.controls.veiculos.valid" (click)="salvarVeiculos()" class="btn btn-success">
              Salvar Veiculos
            </button>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o veiculo {{this.veiculoAtual.marcaModelo}}?</p>
    <button type="button" class="btn btn-default" (click)="confirmDeleteVeiculo()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteVeiculo()">Não</button>
  </div>
</ng-template>